@media only screen and(min-height: 830px)
{
.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    .container-display{
        display:flex;
        flex-direction: column;
        background-color: rgba(10, 10, 78, 0);
        height: auto;
        width: 37%;

        .main-display{
            display: flex; 
            flex-direction: column;
            background-color: rgb(26, 26, 51);
            border-radius: 10px;
            align-items: flex-start;
            height: auto;
            padding: 15px;

            .titledisplay{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                color:white;
                width: 100%;
                height: auto;
                margin-bottom: 50px;

                    .title{
                        font-size: 2rem;
                         padding-bottom: 10px;
                          }
                    .temperatura{
                        font-size: 20px;
                        }
                    .trenutnovrijeme{
                        font-size: 20px;
                    }
            }
            .dateandday{
                width: 100%;
                color: white;
                text-align: center;
                height: auto;
                margin-bottom: 5%;
            }
            .ostalipodaci{
                width: 100%;
                height: auto;
                margin-bottom: 4%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                color:white;
                font-size: 1em;

    

                .leftbox{
                    display: flex;
                    flex-direction: column;
                    margin-right: 20px;
                    height: auto;
                }

                .rightbox{
                    display:flex;
                    flex-direction: column;
                    height: auto;
                }
            }




            .threehoursdisplay{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                width: 98%;
                grid-gap:10px;
                margin-left: 1%;
                padding-bottom: 1vh;
                overflow-x: auto;
                overflow-y: hidden;
                height: auto;
                }
        }
    }
}
}
@media only screen and(max-height:830px)
{
    .display{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    
        .container-display{
            display:flex;
            flex-direction: column;
            background-color: rgba(10, 10, 78, 0);
            height: auto;
            width: 70vw;
    
            .main-display{
                display: flex; 
                flex-direction: column;
                background-color: rgba(26, 26, 51, 0.733);
                border-radius: 10px;
                align-items: flex-start;
                height: auto;
                padding: 15px;
    
                .titledisplay{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    color:white;
                    width: 100%;
                    height: auto;
                    margin-bottom: 2vh;
    
                        .title{
                            font-size: 2rem;
                             padding-bottom: 10px;
                              }
                        .temperatura{
                            font-size: 15px;
                            }
                        .trenutnovrijeme{
                            font-size: 15px;
                        }
                }
                .dateandday{
                    width: 100%;
                    color: white;
                    text-align: center;
                    height: auto;
                    margin-bottom: 5%;
                }
                .ostalipodaci{
                    width: 100%;
                    height: auto;
                    margin-bottom: 2vh;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    color:white;
                    font-size: 10px;
    
        
    
                    .leftbox{
                        display: flex;
                        flex-direction: column;
                        margin-right: 20px;
                        height: auto;
                    }
    
                    .rightbox{
                        display:flex;
                        flex-direction: column;
                        height: auto;
                    }
                }
    
    
    
    
                .threehoursdisplay{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                    width: 98%;
                    grid-gap:10px;
                    margin-left: 1%;
                    overflow-x: auto;
                    overflow-y: hidden;
                    height: auto;
                    padding-bottom: 1vh;
                    }
            }
        }
    }
}